{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('send_email') }}" method="POST">
        <label class="control-label required" for="username">Email</label>
        <input type="text" id="username" name="username" required="required" class="form-control" />

        <input type="submit" value="Réinitialiser mon mot de passe" />
    </form>
{% endblock %}