{% extends 'base.html.twig' %}

{% block body %}
    <h1>Document Manager</h1>

    <div class="login-page">

        <div class="form">
            {{ form_start(form) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
