<p>Bonjour {{ user.username }}</p>
<p>Vous avez demandé à réinitialiser votre mot de passe. Si vous n'êtes pas à l'origine de cette demande, alors ignorez ce message</p>
<p>Pour pousuivre la procédure de réinitialisation, veuillez vous rendre à cette adresse: <a href="{{ url }}">{{ url }}</a></p>
